<!Doctype html>
<html lang="en">
    <head>
        <title>Inicio</title>
        <%- include('./partials/_head'); -%>
            
    </head>
    <body>
        <header>
            <%- include('./partials/_header'); -%>
            <h5 class="text-primary font-weight-bold" style="margin-top: 20px; margin-left: 25px; font-family:arial;">
                <u>Plugins sobre la calidad del aire</u></h5>
        </header>
        <main>
            <div class="col-md-8">
                                <p style="margin-top: 20px; margin-left: 20px;"> 
                    En esta página puedes ver tres plugin, cada uno de una zona diferente: Bermejales(Sevilla), Patra(Grecia) y Sofía(Bulgaria),
                    programados de forma personal e indivudal, es decir, estan formados por contamiantes diferentes adaptados así a las mediciones 
                    de las distintas estaciones.
                </p>
                <p style="margin-top: 20px; margin-left: 20px;"> Además encontrarás en la ultima pestaña un generador de Plugin, 
                    donde podrás buscar la zona que desees y descargar tu propio plugin. </p>
            
            <p style="margin-top: 20px; margin-left: 20px;)"> Plugins elaborados por: <b>María Vico Martín  </b> </a> 
                     </a>
                     Alumna de 2ºASIR del <a href="https://www.iespuntadelverde.es/" target="_blank"> IES Punta del Verde </a> (curso 2019/20) <br><br>
                    <a href="https://twinspace.etwinning.net/94367/pages/page/691104" target="_blank"> Erasmus+ Project: 2019-1-ES01-KA202-063878.</a> <br><br>
                    <br>
                <div align="center"><img src="images/pie.png" alt="logos proyecto"></div>
     
        </div>
        

        </main>
    </body>
</html>
