<nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
    <ul class="navbar-nav mr-auto">
        <li><a href="/" class="navbar-brand">Inicio</a> </li>
        <li><a  href="/bermejales" class="nav-link active">Plugin Bermejales</a>  </li>
        <li><a  href="/sofia" class="nav-link active">Plugin Sofia</a></li>
        <li><a  href="/patra" class="nav-link active">Plugin Patra</a></li>
        <li><a  href="/automatico" class="nav-link active">Generar Plugin</a></li>
    </ul>                  
</nav>
